.SearchFilterTagsContainerTag {
    display: flex;
    background-color: rgba(248, 249, 253, 0.49);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    height: 45px;
    margin-right: 15px;
}

.SearchFilterTagsContainerTag>p {
    padding: 5px 10px;
}

.SearchFilterTagsContainerTag>h4 {
    padding: 5px 10px;
}