.heroContainer {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #003145;

    display: flex;
    justify-content: center;
}

.heroContainerFluid {
    width: 90%;

    display: flex;
    /* justify-content: center; */
}

.heroContainerLeft,
.heroContainerRight {
    width: 50%;
}

.heroContainerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroContainerLeftHeading {
    font-weight: bold;
    font-size: 1.5em;
    /* padding-top: 50px; */
    padding-left: 40px;
    border-left: 10px solid #FFCE5C;
}

.heroContainerLeft>p {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;

}

.heroContainerRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

