.GreenButton{
    color: rgb(226, 226, 226);
    background-color: #44924C;
    font-weight: bold;
    padding: 13px 15px 13px;
    border-radius: 10px;
    border: none;
    
    height: fit-content;
}